    /*CSS juego */
    
    #div1 {
        font-size: 48px;
        align-items: center;
    }
    
    body {
        background-color: #1f252d;
        font-family: 'Pacifico';
        text-align: center;
    }
    
    h1 {
        background-color: #1f252d;
        color: #01fe87;
        text-shadow: 5px 5px 5px #57858d;
    }
    
    b {
        color: #01fe87;
    }
    
    canvas {
        animation: mymove 5s infinite;
        border: 5px solid#0a3cda;
        /* border-style: dotted;*/
        border-radius: 10px 30px;
        align-items: center;
    }
    
    @keyframes mymove {
        50% {
            box-shadow: 10px 20px 30px blue;
        }
    }
    
    h3 {
        font-family: 'Permanent Marker';
    }