@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #1f252d;
}

a {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #2894ff;
    background: #262c37;
    font-size: 16px;
    margin: 10px;
    letter-spacing: 2px;
}

a span {
    position: absolute;
    display: block;
    background: #2894ff;
}

a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.25s;
}

a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: 0.25s;
}